

<!-- </body>
</html> -->
			<!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    
                    <p style="font-style: italic; font-size: larger;">The <b style =" font-size: x-large ;">world</b>  is a book and those who do not <b style =" font-size: x-large ;">travel</b>  read only one <b style =" font-size: x-large ;">Page</b> </p>

                    <ul class="icons">
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
                    </ul>
                    <p class="copyright">2022&copy;Made by <span style= "color: greenyellow;font-size: medium;font-style: italic;"> Lam Nguyen , David Caraccio, Zach Giacomarro</span></p>
                </div>
            </footer>

    <!-- Scripts -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/jquery.scrolly.min.js"></script>
        <script src="/assets/js/jquery.poptrox.min.js"></script>
        <script src="/assets/js/skel.min.js"></script>
        <script src="/assets/js/util.js"></script>
        <script src="/assets/js/main.js"></script>
</body>
</html>

