<!DOCTYPE HTML>
<!--
	TripAdvise Index Page
	home page/landing page for unregistered user
	feed page for registered, logined user
-->
<html>
	<head>
		<title>TripAdvise Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="icon" href="images/sun.jpg">
		<!-- PageHeader -->
		<div class="pageheader">
			<a href="index.html" class="logo">TripAdvise</a>
			<div class="pageheader-right">
			  <a class="active" href="/">Home</a>
			  <a href="/login">Login</a>
			  <a href="/register">Register</a>
			</div>
		</div>
	</head>