<!DOCTYPE HTML>
<!--
	TripAdvise Index Page
	home page/landing page for unregistered user
	feed page for registered, logined user
-->
<html>
	<head>
		<title>TripAdvise Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="icon" href="images/sun.jpg">
			<!--Bootsrap 4 CDN-->
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    
		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/assets/js/jquery.scrolly.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.poptrox/2.5.1/jquery.poptrox.min.js"></script>
        <script src="/assets/js/skel.min.js"></script>
        <script src="/assets/js/util.js"></script>
        <script src="/assets/js/main.js"></script>
		<!-- PageHeader -->
		<div class="pageheader">
			<a href="index.html" class="logo">TripAdvise</a>
			<div class="pageheader-right">
			  <a class="active" href="/">Home</a>
			  <a href="/login">Login</a>
			  <a href="/register">Register</a>
			</div>
		</div>
	</head>