<div id=" reviewQuery" style="   display: grid;
grid-template-columns: auto auto auto;
background-color: #2196F3;
padding: 10px;">    

<div>
   <label for="rateHeart">General</label>
      <select class="form-control" id="rateHeart" name="rateHeart" style="; color: hotpink;" >
      <option value="&hearts;&hearts;&hearts;&hearts;&hearts;">&hearts;&hearts;&hearts;&hearts;&hearts;</option>
      <option value="&hearts;&hearts;&hearts;&hearts;">&hearts;&hearts;&hearts;&hearts;</option>
      <option value="&hearts;&hearts;&hearts;">&hearts;&hearts;&hearts;</option>
     <option value="&hearts;&hearts;">&hearts;&hearts;</option>
     <option value="&hearts;">&hearts;</option>
   </select>
</div>
  
   <div>
    <select class="form-control" id="productPackages" name="productPackages"  style="color: hotpink;" >
      <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
      <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
      <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
      <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
      <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
  </select>
   </div>  
   
   
   
   <div>
    <label for="productPackages">Tourist products and packages</label>
  

   <label for="cultural">Cultural attractions</label>
   <select class="form-control" id="cultural" name="cultural" style="color: hotpink;" >
          <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
          <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
          <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
          <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
          <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
  </select>
   </div>
  
  <div>
  <label for="gastronomy">Gastronomy.</label>
  <select class="form-control" id="gastronomy" name="gastronomy" style=" color: hotpink;" >
          <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
          <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
          <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
          <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
          <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
  </select>
  </div>

  

  <div>
  <label for="shopping">Shopping</label>
  <select class="form-control" id="shopping" name="shopping" style=" color: hotpink;" >
      <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
      <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
      <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
     <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
     <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
  </select>
  </div> 
  

  <div>
  <label for="Infras_transport">Infrastructure and transport</label>
  <select class="form-control" id="Infras_transport" name="Infras_transport" style=" color: hotpink;" >
      <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
      <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
      <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
     <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
     <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
  </select>

  </div>

  <div>
                                      <label for="landscape">Landscape and natural resources</label>
  <select class="form-control" id="landscape" name="landscape" style="color: hotpink;" >
              <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
              <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
              <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
             <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
             <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
  </select>
  </div>

</div>