<!--
    TripAdvise Index Page
    home page/landing page for unregistered user
    feed page for registered, logined user
-->

<%- include('partials/header') %>   
<!-- // header file -->
<body id="top"> 

		<!-- Banner -->
		
			<section id="banner" data-video="images/banner">
				<div class="inner">
					<header>
						<h1 style="color: blue;">TripAdvise</h1>
						<p>A destination information website with a modern social media feel.
							 <br> Log out <a href="/logout">here</a>.</p>
					</header>
					<a href="#main" class="more">Learn More</a>
				</div>
			</section>

		<!-- Main -->
			<div id="main">
				<div class="inner">

				<!-- Boxes -->
					<div class="thumbnails">

						<div class="box">
							<a href="/newyork" class="image fit"><img src="images/pic01.jpg" alt="" /></a>
							<div class="inner">
								<h3>New York City, USA</h3>
								<p>A brief summary of the experience at New York City with all the fabulous views of the city and all it has to offer.</p>
								<a href="https://youtu.be/kVzmFFAYyVI" class="button fit" data-poptrox="youtube,800x400">Watch</a>
							</div>
						</div>

						<div class="box">
							<a href="/tokyo" class="image fit"><img src="images/tokyo.jpg" alt="" /></a>
							<div class="inner">
								<h3>Tokyo, Japan</h3>
								<p>Experience the streets of Tokyo with all it's vibrant views and experiences. Experience authentic cuisine from street market stalls.</p>
								<a href="/tokyo" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
							</div>
						</div>

						<div class="box">
							<a href="/sydney" class="image fit"><img src="images/sydney.jpg" alt="" /></a>
							<div class="inner">
								<h3>Sydney, Australia</h3>
								<p>See the beautiful beaches of Sydney, Australia and the vibrant city life it has to offer to all kinds of people.</p>
								<a href="/sydney" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
							</div>
						</div>

						<div class="box">
							<a href="/cairo" class="image fit"><img src="images/cairo.jpg" alt="" /></a>
							<div class="inner">
								<h3>Cairo, Egypt</h3>
								<p>Explore the beautiful streets of Cairo. Including the El Sheikh Nada area and busy streets surrounding.</p>
								<a href="/cairo" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
							</div>
						</div>

						<div class="box">
							<a href="/rome" class="image fit"><img src="images/rome.jpg" alt="" /></a>
							<div class="inner">
								<h3>Rome, Italy</h3>
								<p>Experience the Coliseum, or Hadrian's Mausoleum or the Roman Forum. All in which Rome has to offer!</p>
								<a href="/rome" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
							</div>
						</div>

						<div class="box">
							<a href="/paris" class="image fit"><img src="images/paris.jpg" alt="" /></a>
							<div class="inner">
								<h3>Paris, France</h3>
								<p>Feast your eyes upon the Eiffel Tower, or the Notre-dame. Either way, Paris has much to offer to all!</p>
								<a href="/paris" class="button fit" data-poptrox="youtube,800x400">Watch</a>
							</div>
						</div>

					</div>

				</div>
			</div>
			<%- include('partials/footer') %>