<!DOCTYPE HTML>
<!--
	TripAdvise Index Page
	home page/landing page for unregistered user
	feed page for registered, logined user
-->
<html>
	<head>
		<title>TripAdvise Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="icon" href="images/sun.jpg">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

		<!-- PageHeader -->
		<div class="pageheader">
			<a href="index.html" class="logo">TripAdvise</a>
			<div class="pageheader-right">
			  <a class="active" href="index.html">Home</a>
			  <a href="login.html">Login</a>
			  <a href="register.html">Register</a>
			</div>
		  </div>
	</head>
	<!-- // header file -->
	<body id="top"> 


			<!-- Banner -->
			
				<section id="banner" data-video="images/banner">
					<div class="inner">
						<header>
							<h1>TripAdvise</h1>
							<p>A destination information website with a modern social media feel. <br> Register <a href="register.html">here</a>.</p>
						</header>
						<a href="#main" class="more">Learn More</a>
					</div>
				</section>

			<!-- Main -->
				<div id="main">
					<div class="inner">

					<!-- Boxes -->
						<div class="thumbnails">

							<div class="box">
								<a href="https://youtu.be/kVzmFFAYyVI" class="image fit"><img src="images/pic01.jpg" alt="" /></a>
								<div class="inner">
									<h3>New York City, USA</h3>
									<p>A brief summary of the experience at New York City with all the fabulous views of the city and all it has to offer.</p>
									<a href="https://youtu.be/kVzmFFAYyVI" class="button fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/0nTO4zSEpOs" class="image fit"><img src="images/tokyo.jpg" alt="" /></a>
								<div class="inner">
									<h3>Tokyo, Japan</h3>
									<p>Experience the streets of Tokyo with all it's vibrant views and experiences. Experience authentic cuisine from street market stalls.</p>
									<a href="https://youtu.be/0nTO4zSEpOs" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/6tkQ8ezp230" class="image fit"><img src="images/sydney.jpg" alt="" /></a>
								<div class="inner">
									<h3>Sydney, Australia</h3>
									<p>See the beautiful beaches of Sydney, Australia and the vibrant city life it has to offer to all kinds of people.</p>
									<a href="https://youtu.be/6tkQ8ezp230" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/DIyG_4rEdSg" class="image fit"><img src="images/cairo.jpg" alt="" /></a>
								<div class="inner">
									<h3>Cairo, Egypt</h3>
									<p>Explore the beautiful streets of Cairo. Including the El Sheikh Nada area and busy streets surrounding.</p>
									<a href="https://youtu.be/DIyG_4rEdSg" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/EsFheWkimsU" class="image fit"><img src="images/rome.jpg" alt="" /></a>
								<div class="inner">
									<h3>Rome, Italy</h3>
									<p>Experience the Coliseum, or Hadrian's Mausoleum or the Roman Forum. All in which Rome has to offer!</p>
									<a href="https://youtu.be/EsFheWkimsU" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/1_XzrxXnwMM" class="image fit"><img src="images/paris.jpg" alt="" /></a>
								<div class="inner">
									<h3>Paris, France</h3>
									<p>Feast your eyes upon the Eiffel Tower, or the Notre-dame. Either way, Paris has much to offer to all!</p>
									<a href="https://youtu.be/1_XzrxXnwMM" class="button fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

						</div>

					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<h2>Etiam veroeros lorem</h2>
						<p>Pellentesque eleifend malesuada efficitur. Curabitur volutpat dui mi, ac imperdiet dolor tincidunt nec. Ut erat lectus, dictum sit amet lectus a, aliquet rutrum mauris. Etiam nec lectus hendrerit, consectetur risus viverra, iaculis orci. Phasellus eu nibh ut mi luctus auctor. Donec sit amet dolor in diam feugiat venenatis. </p>

						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled.</p>
					</div>
				</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
