<!--
    TripAdvise Index Page
    home page/landing page for unregistered user
    feed page for registered, logined user

    
-->

<%- include('partials/header') %>   
<!-- // header file -->
<body id="top"> 

		<!-- Banner -->
		
			<section id="banner" data-video="images/banner">
				<div class="inner">
					<header>
						<h1 style="color: blue;">TripAdvise</h1>
						<p>A destination information website with a modern social media feel.
							 <br> Log out <a href="/logout">here</a>.</p>
					</header>
					<a href="#main" class="more">Learn More</a>
				</div>
			</section>

		<!-- Main -->
			<div id="main">
				<div class="inner">

				<!-- Boxes -->
					<div class="thumbnails">
                        <!-- class="image fit" -->
						<div class="boxdestination">
							
							<div class="inner image fit ">
								<h2>Rome, Italy</h2>
                                <div>
                                    <iframe width="100%" height="600" src= "https://www.youtube.com/embed/EsFheWkimsU" ></iframe>
                                </div>	
                                <br>							
                                <h4 > <i>New York is so big and so diverse a place that you could live here four lifetimes and not experience all the amazing things the city has to offer. Even figuring out where to start your NYC trip is a daunting task. But we want to help you cut down the impossibly long list of ways to spend your day. Whether you're a local realizing you've yet to fully explore the city's parks and history, or an out-of-towner who doesn't know the Met from the MoMA, these quintessential stops will help you catch a glimpse of the city's beating heart.</i> </h4>
                                <hr>
                                <img src="https://media.cntraveler.com/photos/611fc78d9282cc5de31e9d87/1:1/w_1600%2Cc_limit/Central%2520Park%2C%2520Manhattan%2C%2520New%2520York_GettyImages-528180834.jpg" alt="">
                                <hr>
                                
                                <h2>Central Park</h2>
                                <p style="color: white;">Step off the crowded sidewalks of 59th Street into Central Park and you’ll hardly realize what lies before you: 693 acres of man-made gardens, meadows, forests, and rolling hillsides. If you ambled down every one of Central Park’s pathways, you would walk 58 miles. Along the way, you pass fountains, monuments, sculptures, bridges, and arches, plus 21 playgrounds, a winter ice-skating rink, a zoo, and even a castle. But you’d hardly notice the four major crosstown thoroughfares, which cleverly disappear into foliage-covered tunnels.</p>
                                <img class="image fit" src="https://media.cntraveler.com/photos/5a7741e38fe97e6945c2ae04/1:1/w_1600%2Cc_limit/The-Whitney_2018_The-Whitney-final1-.jpg" alt="">
                                <h2>Whitney Museum of American Art</h2>
                                <p>The Whitney got a major upgrade when it relocated from the Upper East Side to its vastly-expanded Meatpacking headquarters in 2015. It houses 50,000 square feet of indoor galleries with works by Jean Michel Basquiat, Richard Avedon, and Alexander Calder, four outdoor exhibition spaces and terraces, and a ground-floor restaurant and top-floor bar, both by Danny Meyer, one of the town’s best-known restaurateurs. The floors are connected by two artist-designed elevators (albeit slow-moving, crowded ones). If mobility isn’t an issue, take the stairs instead, which offer uninterrupted views of the Hudson river. The upper floors and sculpture terraces are also connected by a series of exterior staircases, with great views of the downtown skyline, and a rare opportunity to experience art en plein aire.</p>
                                <hr>
                                <img src="https://media.cntraveler.com/photos/5f622daa978ff785b250159b/1:1/w_1600%2Cc_limit/GrandCentralTerminal-2020-GettyImages-88853326.jpg" alt="">
                                <h2>Brooklyn Heights Promenade</h2>
                                <p>It’s one thing to be in the midst of Manhattan, on the ground; it’s quite another to look upon it from across the river. In Brooklyn Heights, a hop, skip, or couple subway stops away from downtown, the city’s image looms large before you. Arguably the best view of the skyline in the city, the Brooklyn Heights promenade floats above the Brooklyn-Queen Expressway. Underlying the peaceful, tree-lined walkway, traffic rumbles below. The promenade stretches from Remsen Street at the south end to Middagh Street at the north. Around the corner, pedestrians can discretely cross a basketball court to access a suspended footbridge that zigzags down to the piers. While in the picturesque neighborhood, makes stops at the New York Transit Museum, Sardinian restaurant River Deli, and the old-time dive bar Montero.</p>
                                <hr>
                                <img src="https://media.cntraveler.com/photos/5f622daa978ff785b250159b/1:1/w_1600%2Cc_limit/GrandCentralTerminal-2020-GettyImages-88853326.jpg" alt="">
                                <h2>Grand Central Terminal</h2>
                                <p>Grand Central Terminal is more than just one of the busiest train stations in the world—it's a window into old New York and into a time when train travel was the ultimate luxury for the wealthy and a necessity for the working man. If you aren't commuting in or out of the city, avoid coming during rush hour, and take your time admiring the landmark architecture and checking out the top-notch dining and shopping.</p>
                                <hr>
                                <img src="https://media.cntraveler.com/photos/5d8138e965eba500080bed57/1:1/w_1600%2Cc_limit/00-2019-911-Memorial-and-Museum_2018_COM-PLAZA-GEN_30365.jpg" alt="">
                                <h2>9/11 Memorial and Museum</h2>
                                <p> Every American should visit the 9/11 Memorial and Museum at least once. As you enter the museum, you descend from the street to bedrock level—the foundation of the former Twin Towers—and are placed in a meditative mindset, forced to recall where you were on that fateful day. The museum itself is a masterful balance: It's grand in scale, contemplative in its construction, and personal in its execution. It pays homage to the enormity of the loss, both physical and spiritual</p>
                                <hr>
                                <img src="https://media.cntraveler.com/photos/611fc78f3bfa87b1b46d1ad9/1:1/w_1600%2Cc_limit/Coney%2520Island%2C%2520New%2520York%2520City%2C%2520USA_GettyImages-sb10063188o-001.jpg" alt="">
                                <h2>Coney Island</h2>
                                <p>Coney Island has a reputation as a circus-worthy tourist trap, which is exactly what it is. But you may be surprised by the old-timey charms of this beachfront American town. You’ll definitely be impressed by the food and drinks—Totonno's Pizza, Gargiulo's and Coney Island Brewery in particular. Locals and tourists hang out on the beach, eat ice cream cones on the promenade, and stand in line for the famed Cyclone roller coaster. The beach and boardwalk along with spots like Nathan’s are open year-round. The amusement park itself is seasonal.</p>
                                <hr>
                                <img src="https://media.cntraveler.com/photos/5a7741d04332805bf105f668/1:1/w_1600%2Cc_limit/Morgan-Library-and-Museum__2018_9.-East-Room-2.jpg" alt="">
                                <h2>The Morgan Library & Museum</h2>
                                <p>The Morgan is like a multi-hyphenate millennial—only instead of actress/model/influencer/whatever, it’s museum/library/landmark/historic site/music venue. Inside the multimillionaire’s personal library, expanded into a must-see museum and cultural space, you'll find rare artifacts, paintings, and books, some dating back to 4000 B.C. that are worth more than your house. In particular the museum is home to one of 23 copies of the original Declaration of Independence; Mozart's handwritten score of the Haffner Symphony; the collected works of African American poet Phillis Wheatley; the only extant manuscript of Milton's Paradise Lost; and Charles Dickens’s manuscript of A Christmas Carol. Swoon.</p>
                                
                                <hr>
                                <img src="https://media.cntraveler.com/photos/611fc0aced1e8a109123ec48/1:1/w_1600%2Cc_limit/Broadway%2C-New-York_GettyImages-588653038.jpg" alt="">
                                <h2>Broadway</h2>
                                
                                <p>For locals and first-time visitors alike, seeing a Broadway show is a special experience, and one that is exclusive to New York City. Times Square is ordinarily a drag, but when you’re moseying into Midtown Manhattan for a show the bright billboards and lights don’t flash in your face—they dazzle in your eyes. A Broadway show's costumes, sets, songs, and stories are the stuff of dreams. And after going dark during the pandemic, Broadway is set to return this fall; what better way to celebrate the city’s reopening?</p>
                                <hr>
                                <img src="https://media.cntraveler.com/photos/611fc7933bfa87b1b46d1adb/1:1/w_1600%2Cc_limit/Washington%2520Square%2520Park%2C%2520New%2520York_GettyImages-1222306697.jpg" alt="">
                                <h2>Washington Square Park</h2>
                                <p>If people-watching is your sport, Washington Square Park is your place. Entertainment is a given in this intimate, not-quite 10-acre space, filled with career chess players, musicians, performers, students, sunbathers, strollers, and general throngs of Greenwich Villagers, desperate for a bit of fresh air. Take your time as you go through: Pause beneath Washington Arch, honoring our country’s first president (for whom the Park is named), and observe the laurel wreaths and intricate motifs that extend from the base to the keystones, atop which twin eagles perch like constant watchmen. Washington Square Park is the beating heart of this vibrant New York neighborhood.</p>
                                <hr>
                                <img src="https://media.cntraveler.com/photos/616d91c46c0af4caa508d963/1:1/w_1600%2Cc_limit/Summit%2520One%2520Vanderbilt_Courtesy%2520SUMMIT%2520One%2520Vanderbilt%2520(6).jpg" alt="">
                                <h2>Summit One Vanderbilt</h2>
                                <p>There’s no shortage of jaw-dropping views found throughout the city, but the team behind Summit One Vanderbilt has assembled a bunch of big names to bring together a full experience where you could easily spend a few hours. It starts with the elevator, a light- and sound-filled ride that whooshes visitors up to the 91st floor. There, you’re greeted by a massive, mirrored room that looks out over New York City. Additionally, there are rotating art installations from Kenzo Digital, as well as two special features: Levitation, a glass skybox that lets you feel as if you’re floating one-thousand feet above Madison Avenue; and Ascent, a separate glass elevator that brings you up even higher to gaze over downtown Manhattan. Inside, a Snøhetta-designed Nordic-inspired space serves food and drinks from Danny Meyer’s Union Square Events, including pastrami-stuffed pretzels and ricotta toast; there’s also a wrap-around outdoor terrace that feels like the city's most exciting rooftop bar.</p>
                                
                            </div>
                        </div>    
					

					</div>

				</div>
			</div>
			<%- include('partials/footer') %>